@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #f54f8c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.time {
  font-family: "Orbitron", sans-serif;
  padding: 40px;
  border-radius: 20px;
  color: white;
}

/*Mobile Phones (up to 414px) */
@media screen and (max-width: 414px) {
  .time {
    width: 250px;
    font-size: 22pt;
    text-align: center;
  }

  .jackOLantern {
    width: 200px;
    border-radius: 150px;
    padding: 10px;
  }
}

/*Tablets (415px and above) */
@media screen and (min-width: 415px) {
  .time {
    width: 780px;
    font-size: 5em;
    text-align: center;
    padding: 10px;
  }

  .jackOLantern {
    width: 450px;
    border-radius: 40px;
    margin-top: 30px;
  }
}
